hello
calculate
bork
lex.yy
olang.svg
olang.output
olang.tab
oneliner
readchars
readints
readtest
readwritetest
sixliner
test
threeliner
bork.cpp
hello.cpp
oneliner.cpp
readtest.cpp
sixliner.cpp
test.cpp
threeliner.cpp
*.o
